/***************************************

    #GRID

****************************************/

#tcwlw_widget,
#tcwlw_widget_outer {
    .tcwlw_container {
        @include clearfix();
    }

    .tcwlw_row {
        position: relative;
        width: 100%;
        margin: 0 auto;
        @include clearfix();
    }

    .tcwlw_onecol {
        width: 4.85%;
    }

    .tcwlw_twocol {
        width: 13.45%;
    }

    .tcwlw_threecol {
        width: 22.05%;
    }

    .tcwlw_fourcol {
        width: 30.75%;
    }

    .tcwlw_fivecol {
        width: 39.45%;
    }

    .tcwlw_sixcol {
        width: 48%;
    }

    .tcwlw_sevencol {
        width: 56.75%;
    }

    .tcwlw_eightcol {
        width: 65.4%;
    }

    .tcwlw_ninecol {
        width: 74.05%;
    }

    .tcwlw_tencol {
        width: 82.7%;
    }

    .tcwlw_elevencol {
        width: 91.35%;
    }

    .tcwlw_twelvecol {
        width: 100%;
        float: left;
    }

    .tcwlw_onecol,
    .tcwlw_twocol,
    .tcwlw_threecol,
    .tcwlw_fourcol,
    .tcwlw_fivecol,
    .tcwlw_sixcol,
    .tcwlw_sevencol,
    .tcwlw_eightcol,
    .tcwlw_ninecol,
    .tcwlw_tencol,
    .tcwlw_elevencol {
        margin-right: 3.8%;
        float: left;
        min-height: 1px;
    }

    .tcwlw_last {
        margin-right: 0;
    }

    // Faux Media

    @include tireconnect-width(small) {
        .tcwlw_col_left,
        .tcwlw_col_right {
            clear: both;
            width: 100%;
            margin-right: 0;
        }
    }

    // Media

    @include respond-to(smaller-screen) {
        .tcwlw_col_left,
        .tcwlw_col_right {
            clear: both;
            width: 100%;
            margin-right: 0;
        }
    }
}
