/***************************************

    #SUMMARY

****************************************/

#tcwlw_widget {
	.tcwlw_summary_wrapper {
		@include padding-top($baseSpacing/2);

		.tcwlw_discount_row,
		.tcwlw_rebate_row {
			@include font-size(1);
			
			td {
				font-weight: normal;

				&:last-child {
					text-align: left;
				}
			}

			h4 {
				@include font-size(2);
				font-weight: bold;
				@include padding-bottom($baseSpacing/6);

				&:last-child {
					padding-bottom: 0;
				}
			}

			.tcwlw_btn,
			.tcwlw_brand_btn {
				@include font-size(0.875);
			}
		}

		.tcwlw_rebate_row {
			background: $orange;
		}

		tfoot {
			.tcwlw_rebate_row {
				@include font-size(0.8);
			}
		}

		.tcwlw_discount_wrapper {
			background: white;
			color: $grayDarker;
			float: right;
			@include margin-left($baseSpacing/2);
			@include padding($baseSpacing/3);
			border: 1px solid $grayLighter;
			text-align: right;
		}

		.tcwlw_order_info_vehicle {
			font-weight: bold;
			@include padding(1.2, 0, $baseSpacing/2);

			.tcwlw_order_info_vehicle_item {
				display: block;
			}
		}

		// Faux Media

		@include tireconnect-width(small) {
			.tcwlw_discount_wrapper {
				float: none;
				clear: both;
				@include margin(0, 0, $baseSpacing/3);
				text-align: left;
			}
		}		

		// Media

		@include respond-to(smaller-screen) {
			.tcwlw_appointment_info {
				.tcwlw_quote_tire,
				.tcwlw_order_info_vehicle {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	.tcwlw_quote_wrapper {
		.tcwlw_quote_left {
			padding-right: 3.8%;
			border-right: 1px solid $grayLighter;
		}

		.tcwlw_quote_header {
			@include padding-top($baseSpacing/2);
			@include padding-bottom($baseSpacing/2);
		}

		.tcwlw_quote_dealer_logo {
			float: left;
			@include margin(0, $baseSpacing/2, $baseSpacing/2, 0);
		}

		.tcwlw_confirmation_location {
			float: right;
		}

		.tcwlw_quote_tire {
			@include font-size($baseFontSize);
		}

		.tcwlw_result_specs_list {
			@include margin-bottom($baseSpacing/2);

			&:last-child {
				margin-bottom: 0;
			}

			li {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				padding: 0;
			}
		}

		.tcwlw_quote_features {
			@include padding-left($baseSpacing/2);

			li {
				@include font-size(1);
			}
		}

		// Faux Media

		@include tireconnect-width(small) {
			.tcwlw_quote_left,
			.tcwlw_quote_right {
				clear: both;
				width: 100%;
				margin-right: 0;
			}

			.tcwlw_quote_left {
				@include margin-bottom($baseSpacing);
				@include padding(0, 0, $baseSpacing);
				border-right: none;
				border-bottom: 1px solid $grayLighter;
			}
		}

		// Media

		@include respond-to(smaller-screen) {
			.tcwlw_quote_left,
			.tcwlw_quote_right {
				clear: both;
				width: 100%;
				margin-right: 0;
			}

			.tcwlw_quote_left {
				@include margin-bottom($baseSpacing);
				@include padding(0, 0, $baseSpacing);
				border-right: none;
				border-bottom: 1px solid $grayLighter;
			}
		}
	}
}