Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
